<ul class="links">
  <!--<li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Landing page</a></li>
  <!--<li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About Me</a></li>-->
  <!--<li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>-->
  <!--<li class="{% if page.url contains '/cgs/' %} active {% endif %}"><a href="{{ "/cgs/" | absolute_url }}">1. CGS</a></li>
  <li class="{% if page.url contains '/mal/' %} active {% endif %}"><a href="{{ "/mal/" | absolute_url }}">2. MALWARE-CANCER</a></li>
  <!--<li class="{% if page.url contains '/xml/' %} active {% endif %}"><a href="{{ "/xml/" | absolute_url }}">3. XML-Embryo</a></li>-->
<li class="{% if page.url contains '/page1_project/' %} active {% endif %}"><a href="{{ "/page1_project/" | absolute_url }}">1. Project Details</a></li>
<li class="{% if page.url contains '/page2_progress/' %} active {% endif %}"><a href="{{ "/page2_progress/" | absolute_url }}">2. Progress Report</a></li>
<li class="{% if page.url contains '/page3_arnab/' %} active {% endif %}"><a href="{{ "/page3_arnab/" | absolute_url }}">3. About Arnab Banerjee</a></li>
<li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">4. Credits</a></li>
</ul>
