<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Projects</a></li>
  <!--<li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About Me</a></li>-->
  <!--<li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>-->
  <li class="{% if page.url contains '/cgs/' %} active {% endif %}"><a href="{{ "/cgs/" | absolute_url }}">CGS</a></li>
  <li class="{% if page.url contains '/xml/' %} active {% endif %}"><a href="{{ "/xml/" | absolute_url }}">XML</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Credits  Reference</a></li>
</ul>
